header{
	background-color: #989898;
}
section{ 
	color: #FFFFFF;
	background-color: #808080;
}


h1{
	color: #FFFFFF;
	background-color: #989898;
	text-align: center;
	font-size: 300%;
	text-transform: uppercase;
}

h2{
	color: #00008B;
	background-color: #808080;
	font-size: 150%;
	text-transform: uppercase;
}

p{
	background-color: #808080;
	color: #000000;
}

img{
	display: none;
}