:root {
  --main-color: #f6f6e9;
  --navbar-footer: #fd7725;
  --home: #3187c0;
}
/*html {
  scroll-behavior: smooth;
}*/

body {
  background-color: var(--main-color);
  font-family: "Montserrat", "Segoe UI", sans-serif;
  margin: 0;
}
nav {
  background-color: var(--navbar-footer);
}
.nav {
  display: flex;
}

.push {
  margin-right: auto;
}
