:root {
  --main-color: #f6f6e9;
  --navbar-footer: #fd7725;
  --home: #3187c0;
}
html {
  scroll-behavior: smooth;
}
main {
  margin-top: 50px;
}
body {
  background-color: var(--main-color);
  font-family: "Montserrat", "Segoe UI", sans-serif;
  margin: 0;
}
/*typewriter*/
.animation_text p {
  font-family: "Montserrat", Sans-serif;
  color: #ffffff;
}

.animation_text p span {
  color: var(--navbar-footer);
}

@media (max-width: 768px) {
  .animation_text p {
    font-size: 30px;
  }
}

h1 {
  font-size: 200%;
}
h2 {
  text-align: center;
  font-size: 180%;
}
h3 {
  text-align: center;
  font-size: 100%;
}
.home {
  color: #ffffff;
  background-color: var(--home);
  height: 100vh;
  max-height: 90vh;
}
.home .rowa {
  padding-top: 20vh;
  padding-left: 25vh;
  padding-right: 20vh;
  align-items: center;
}
.columndesc {
  width: 400px;
}
.home p {
  margin-top: -20px;
}
.description ul,
p {
  font-size: 120%;
}
.description p {
  margin-bottom: 10px;
}
.description ul li {
  list-style-type: circle;
}

/* nav styles*/
.nav .push {
  margin-right: auto;
}
.nav {
  z-index: 999;
  position: fixed;
  display: flex;
  background-color: var(--navbar-footer);
  width: 100%;
  min-height: 60px;
  top: 0;
  right: 0;
  left: 0;
  margin-top: 0;
  padding-left: 0;
}

.nav li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.nav li a {
  display: block;
  text-align: center;
  font-weight: 700;
  color: white;
  padding: 24px 10px;
  text-decoration: none;
}

.rowp {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
  padding: 10px;
  place-items: center;
  max-width: 1200px;
  margin: auto;
  grid-template-columns: repeat(3, minmax(100px, max-content));
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  .rowp {
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    padding: 10px;
    place-items: center;
    max-width: 1200px;
    margin: auto;
  }
}
@media screen and (max-width: 400px) {
  .rowp {
    grid-template-columns: auto;
    gap: 30px;
    padding: 10px;
    place-items: center;
    max-width: 1200px;
    margin: auto;
  }
  .profile {
    display: none;
  }
  .contact img {
    display: none;
  }
}
.rowa {
  display: grid;
  grid-template-columns: auto auto;
  gap: 50px;
  padding: 10px;
  place-items: top center;
  max-width: 1200px;
  margin: auto;
}
@media screen and (max-width: 1024px) {
  .rowa {
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    padding: 10px;
    place-items: top center;
    max-width: 1200px;
    margin: auto;
  }
}
@media screen and (max-width: 400px) {
  .rowa {
    grid-template-columns: auto;
    gap: 30px;
    padding: 10px;
    place-items: center;
    max-width: 1200px;
    margin: auto;
  }
  .profile {
    display: none;
  }
  .contact img {
    display: none;
  }
}
.profile {
  object-fit: cover;
  max-width: 250px;
  width: 100%;
  height: 100%;
  transform: rotate(-8deg);
}

section {
  padding: 50px;
}

.contact h2 {
  color: #13334c;
}
.contact img {
  width: 80%;
  max-width: 500px;
}
.contact li {
  padding: 10px;
  list-style-type: none;
  font-size: 100%;
}

.project-tile {
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--navbar-footer);
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 5px 5px 6px 1px rgba(100, 100, 100, 0.3);
}
.project-tile:hover {
  box-shadow: 5px 5px 6px 3px rgba(67, 67, 67, 0.7);
}

.project-image {
  max-width: 400px;
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 4/3;
}
.fa {
  color: var(--navbar-footer);
  padding-right: 20px;
}
.contactlink a {
  color: var(--navbar-footer);
  text-decoration: none;
  text-align: center;
}

/* send a message form */
.box {
  text-align: left;
  padding-top: 20px;
}
.button {
  padding: 10px 25px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background: var(--navbar-footer);
  border-radius: 50px;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.wrapper {
  margin: 70px auto;
  padding: 20px;
  background: #e7e7e7;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}
.wrapper h2 {
  margin-top: 0;
  color: #13334c;
  font-size: 150%;
}
.wrapper .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bolder;
  text-decoration: none;
  color: #333;
}
.wrapper .close:hover {
  color: var(--navbar-footer);
}
.wrapper .content {
  max-height: 30%;
  overflow: auto;
}
/*form*/

.container {
  border-radius: 5px;
  background-color: #e7e7e7;
  padding: 20px 0;
}
form label {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 3px;
  font-size: 100%;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  font-family: Montserrat;
  resize: vertical;
}
input[type="submit"] {
  background-color: var(--navbar-footer);
  color: #fff;
  padding: 15px 50px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* footer styles */
.footer {
  background: var(--navbar-footer);
  color: #ffffff;
  width: 100%;
  margin: 0;
  padding: 0;
  bottom: 1;
  position: absolute;
  text-align: center;
}
.footer p {
  padding: 20px 5px;
}
